.biggrid {
  grid-column-start: 1;
  grid-row-start: 1;
  /* column-gap: 100px; */
  display: block;
}

.qs {
  display: flex;
  width: 100%;
}

.description {
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}

.addtocart {
  background: #F8F8F8;
  padding: 15px;
  width: 100%;
  height: 60%;
  z-index: 2;
  display: grid;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  border: 1px solid black;
  box-sizing: border-box;
  border: 1px solid #E7E7E7;
}

.container {
  display: flex;
}