.subbutton {
  background-color: #cd2418;
  display: inline-block;
  color: #ffffff;
  width: 75%;
  height: 40px;
  float: right;
  position: relative;
  font-size: 25px;
  border-radius: 4px;
  text-align: center;
  align-items: flex-start;
}

.subnumber {
  width: 15%;
  height: 35px;
  padding-left: 10px;
  float: left;
  font-size: 20px;
}