.descriptionwrapper {
  padding-bottom: 10px;
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}

.productdescription {
  font-weight: bold;
  width: 80%;
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}

.description {
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}