.descriptionwrapper {
  padding-bottom: 10px;
  padding-right: 100px;
  margin-right: 75px;
  font-family: Montserrat, Arial,Helvetica,sans-serif;
  width: 100%;
  display: flex;
}

.productdescription {
  font-weight: bold;
  width: 80%;
  font-family: Montserrat, Arial,Helvetica,sans-serif;

}

.description {
  font-family: Montserrat, Arial,Helvetica,sans-serif;
  width: 40%;
}