.questions {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.qwrapper {
  /* width: 105%; */
  margin-top: 10px;
}

.experts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  /* width: 70%; */
}

.phone {
  height: 16px;
  padding-right: 6px;
  padding-left: 5px;
}