.questions {
  font-weight: bold;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.qwrapper {
  margin-top: 45px;
  display: block;
  position: absolute;
}

.experts {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 12px;
  width: 70%;
}

.phone {
  height: 16px;
  padding-right: 6px;
  padding-left: 5px;
}