.product-description {
  font-weight: bold;
  width: 80%;
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}

.description {
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}

.descriptionwrapper {
  padding-bottom: 10px;
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}

.styletype {
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}

.stylewrapper {
  padding-top: 20px;
  padding-bottom: 10px;
}

.biggrid {
  grid-column-start: 2;
  grid-row-start: 1;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

.phone {
  height: 18px;
  padding-right: 6px;
  padding-left: 5px;
}

.giftcard {
  height: 18px;
  padding-right: 8px;
}

.addtolist {
  text-align: right;
  font-size: 13px;
  padding-bottom: 7px;
}

.financing {
  float: left;
  font-size: 13px;
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
  padding-bottom: 30px;
}

.questions {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.experts {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 70%;
}

.qwrapper {
  width: 105%;
  margin-top: 20px;
}

.styletype {
  font-style: normal;
  display: inline-block;
}

.choosestyle {
  text-align: left;
  font-weight: bold;
  display: inline-block;
  padding-right: 10px;
  font-family: Montserratregular, Arial,Helvetica,sans-serif;
}

.sub-button {
  background-color: #cd2418;
  color: #ffffff;
  width: 75%;
  height: 40px;
  float: right;
  font-size: 25px;
  border-radius: 4px;
}

.subnumber {
  width: 15%;
  height: 35px;
  padding-left: 10px;
  float: left;
  font-size: 20px;
}

.financewrapper {
  width: 100%;
}

.inventorywrapper {
  color: black;
  width: 100%;
  margin-top: 20px;
}

.addtocart {
  float: right;
  background: #F8F8F8;
  padding: 15px;
  width: 45%;
  height: 100%;
  z-index: 2;
  display: grid;
  grid-row-start: 1;
  grid-column-start: 3;
  border: 1px solid black;
  box-sizing: border-box;
  border: 1px solid #E7E7E7;
}

.messagewrapper {
  width: 80%;
  text-align: right;
  float: right;
}

.inventory {
  font-family: Montserrat;
  font-size: 14px;
}

.message {
  color: green;
  text-align: right;
  float: right;
  font-weight: bold;
}

.freeshipping {
  font-size: 12px;
}

.price-wrapper {
  float: right;
}

.product-price {
  font-size: 40px;
  float: left;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: montserratregular,Arial,Helvetica,sans-serif;
}

img {
  padding-top: 10px;
  height: 70px;
}
